.container
	.row.flex.flex-wrap
		.col-12
			section.cartstep.clearfix
				.step.active.finish
					.number 1
					.name Giỏ hàng
				.step.active
					.number 2
					.name Đăng nhập
				.step
					.number 3
					.name Thông tin
				.step
					.number 4
					.name Thanh toán
	section.cart-page.clearfix
		.row.flex.flex-wrap
			.col-12.col-lg-8
				section.cart-login.clearfix
					.login-form.clearfix
						.select-group
							ul 
								li
									input#khmoi(type="radio", name="rd1", checked)
									label(for="khmoi") Tôi là khách hàng mới
								li
									input#khcu(type="radio", name="rd1",)
									label(for="khcu") Tôi đã có tài khoản
									.help(data-toggle="tooltip" data-placement="right" title="Đăng nhập bằng tài khoản thành viên ") <i class="fa fa-question-circle" aria-hidden="true"></i>
						.module-title Vui lòng điền Email hoặc Số điện thoại của bạn
						.form-group
							input#email(type="text", placeholder="Email hoặc Số điện thoại")
						.form-group
							input#password(type="password", placeholder="Mật khẩu của tôi" disabled)
						a.forget-password(target="_blank" href="#") Quên mật khẩu?
						a.hvr-sweep-to-right.btn-continue(href="cart2.html") Tiếp tục
						.social-login
							.module-title Hoặc đăng nhập bằng:
							a.facebook(href="#") <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
							a.google(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i> Google
			.col-12.col-lg-4
				section.minicart.hidden-sm-down.clearfix
					.carttitle Đơn hàng (<strong>2</strong> sản phẩm)
					a.btn-edit(href="cart.html") Thay đổi
					.carttable.clearfix
						.group.clearfix
							.product.clearfix
								a.productimg(href="#")
									img(src="img/product/1.png", alt="")
								.productdetail
									//- .product-brand CASIO
									h3.product-name Khóa cửa điện tử X103T
							.amount
								.price 500.000đ
								.count x1
								.total 500.000đ
						.group.clearfix
							.product.clearfix
								a.productimg(href="#")
									img(src="img/product/2.png", alt="")
								.productdetail
									//- .product-brand CASIO
									h3.product-name Đèn báo LTD01
							.amount
								.price 500.000đ
								.count x1
								.total 500.000đ
						.group.clearfix
							.product.clearfix
								a.productimg(href="#")
									img(src="img/product/3.png", alt="")
								.productdetail
									//- .product-brand CASIO
									h3.product-name Két sắt MT073
							.amount
								.price 500.000đ
								.count x1
								.total 500.000đ
						.group
							.label Tổng tiền
							.value.total 1.000.000đ
						.group
							.label Phí vận chuyển
								a.help(href="#!" data-toggle="tooltip" data-placement="right" title="Xem chính sách giao hàng của ") <i class="fa fa-question-circle" aria-hidden="true"></i>
							.value Miễn phí
						//- .group
							.desc-deliver
								ul
									li
										strong TP.HCM: 
										| Miễn phí vận chuyển <span> trong bán kính 30km </span> tính từ của hàng Hóc Môn số 465 Phạm Văn Sáng, Xuân Thới Thượng, Hóc Môn
									li
										strong TP.Cần Thơ:
										| Miễn phí vận chuyển <span> trong bán kính 20km </span> tính từ của hàng Cần Thơ số 109 Nguyễn Đệ, phường An Hòa, quận Ninh Kiều
									li Nếu địa chỉ giao hàng nằm ngoài khu vực miễn phí, Bộ phận giao hàng sẽ gọi điện cho quý khách để thông báo phí phát sinh trước khi giao hàng.
						.group
							.label Giảm giá
							.value 1.000.000đ
						.group
							.label Số tiền phải thanh toán
							.value 
								strong 1.000.000đ
								span (Giá chưa bao gồm VAT)
						//- .group
							.member-form
								.module-tite Sử dụng thẻ thành viên
								.form-group
									label Mã khách hàng:
									input(type="text" placeholder="Mã khách hàng")
								.form-group
									label Số điện thoại:
									input(type="text" placeholder="Số điện thoại")
								.frm-btn
									input(type="submit", value="Áp dụng")