section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/03.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Hỏi đáp
.container
	.row
		.col-12.col-lg-9
			section.page-content.clearfix
				h1.page-title Hỏi đáp
				//- .newfaq
					.module-title Gửi câu hỏi
					.form-group
						input(type="text", placeholder="Họ và tên")
					.form-group
						input(type="text", placeholder="Tiêu đề")
					.form-group
						textarea(name="", cols="30", rows="10", placeholder="Nội dung...")
					input(type="submit", value="Gửi câu hỏi")
				.faqlist
					.faq
						.faqtitle Tôi muốn đặt mua khóa điện tử thông minh và được giao tận nhà thì phải làm như thế nào?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Làm sao để hủy đơn đặt hàng?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Tôi có thể thánh toán bằng những hình thức nào?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Khóa vân tay sử dụng ngoài trời có bền hay không?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle An Biên có các loại khóa điện tử thông minh nào?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Tôi có thể đến những địa điểm nào để xem sản phẩm trực tiếp?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Các chính sách bảo hành ổ khóa tại An Biên như thế nào?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Những loại cửa nào thích hợp để lắp khóa vân tay?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Khi khóa điện tử gặp sự cố thì tôi có thể mở cửa vào nhà bằng cách nào?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Làm thế nào để có thể bảo quản tốt khóa vân tay điện tử?
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
		.col-12.col-lg-3
			//- nav.sidebar-category.clearfix
				.small-title Giới thiệu
				ul.sidebar-link
					li
						a(href="#") Về Sky Watch
					li 
						a(href="#") Hệ thống cửa hàng
					li 
						a(href="#") Tin tức
					li 
						a(href="#") Tuyển dụng
					li 
						a(href="#") Liên hệ
			nav.sidebar-category.clearfix
				//- .small-title Hỗ trợ khách hàng
				ul.sidebar-link
					li
						a(href="#") Hướng dẫn
					li.active
						a(href="#") Hỏi đáp
					li 
						a(href="#") Bảo hành