section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/01.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Liên hệ
section.contact-page
	.container
		h1.page-title Liên hệ
		.row
			.col-12.col-lg-4
				.contact-info
					h2.company Công ty cổ phần thương mại dịch vụ An Biên
					ul
						li
							.title Showroom:
							.des 
								strong Địa chỉ: 
								|115 Điện Biên Phủ, P.15, Bình Thạnh, HCM
								br
								strong Điện thoại: 
								a(href="tel:(028)38409666") (028) 3840 9666 
								|- 
								strong Fax: 
								|(028) 3840 9777
						li
							.title Trụ sở chính:
							.des 
								strong Địa chỉ: 
								|115 Điện Biên Phủ, P.15, Bình Thạnh, HCM
								br
								strong Điện thoại: 
								a(href="tel:(028)38409666") (028) 3840 9666 
								|- 
								strong Fax: 
								|(028) 3840 9777
						//- li
							.title Chi nhánh:
							.des 
								strong.text-uppercase Chi nhánh Bình Dương
								br
								strong Địa chỉ: 
								|1717B Tỉnh Lộ 10, PhườngTân Tạo A, Q.Bình Tân Tp.HCM
								br
								.btn-viewmap Xem bản đồ
								br
								strong Điện thoại: 
								a(href="tel:(028) 6272 7240") (028) 6272 7240
								//- br
								//- strong Fax: 
								//- |0988.12.12.12 
								br
								strong Email: 
								a(href="mailto:info@futurebook.vn") info@futurebook.vn
			.col-12.col-lg-8
				.contact-form
					.module-title Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho An Biên, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
					.form-wrap
						.form-row
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Họ và tên...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Email...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Tiêu đề...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Số điện thoại...")
							.form-group.col-12
								textarea(name="", cols="", rows="10" placeholder="Nội dung...")
						.frm-btn
							input(type="submit", value="Gửi")
			.col-12
				.contact-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1909829565357!2d106.70064531538375!3d10.796679992307757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b6f881866b%3A0xe158bebfbf7f3739!2zUCwgMTE1IMSQaeG7h24gQmnDqm4gUGjhu6csIFBoxrDhu51uZyAxNSwgQsOsbmggVGjhuqFuaCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1527666740878', width='100%', height='350', frameborder='0', style='border:0', allowfullscreen='')
					