section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/05.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tuyển dụng
.container
	.row
		.col-12.col-lg-9
			section.career-page.clearfix
				h1.page-title Tuyển dụng
				.job-wrap
					table.career-table
						thead
							tr
								th Vị trí làm việc
								th.text-xs-center.hidden-sm-down Nơi làm việc
								th.text-xs-center.hidden-sm-down Ngày hết hạn
								th.hidden-sm-down
						tbody
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Trưởng phòng kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									//- span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Nhân viên Kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Chuyên viên Dự án
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									//- span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Biên tập viên dòng sách 
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									//- span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Quản trị Kinh doanh
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									//- span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Họa sỹ Thiết kế
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									//- span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Nhân viên Kế toán Tổng hợp
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Chuyên viên Marketing 
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Nhân viên thiết kế 
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									//- span.new Mới
							tr
								td
									h2
										a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
											i.fa.fa-angle-right(aria-hidden='true')
											| Nhân viên sản xuất 
										//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
											i.fa.fa-pencil
								td.text-xs-center.hidden-sm-down Tp.HCM
								td.text-xs-center.hidden-sm-down 21/03/2017
								td.hidden-sm-down
									//- span.new Mới
		.col-12.col-lg-3
			nav.sidebar-category.clearfix
				ul 
					li
						a(href="#") Chính sách tuyển dụng
					li.active
						a(href="#") Cơ hội nghề nghiệp