section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/04.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tin tức
section.news-page
	.container
		h1.page-title Tin tức
		//- ul.home-tab
			li.active
				a(href="#!") Tin hoạt động doanh nghiệp
			li
				a(href="#!") tin thị trường
			li
				a(href="#!") Tin quỹ từ thiện
			li
				a(href="#!") Bản tin kinh doanh
		section.hot-news
			.row
				.col-12.col-lg-6
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/01.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Những điều cần thiết bạn nên biết về quy trình hoạt động của khóa vân tay.
								.news-des Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde vitae libero porro nisi alias magni officiis non esse recusandae itaque!
				.col-12.col-lg-6
					.row
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/02.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") Làm thế nào và bạn nên thay thế khóa cửa nhà bạn khi nào?
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/03.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") Các công nghệ hiện đại nhất dành cho khóa cửa
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/04.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") Hướng dẫn cách chọn khóa điện tử siêu bền.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#!")
										img(src="img/news/05.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#!") Tìm hiểu thêm về công nghệ dấu vân tay và khóa vân tay.
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/06.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Những lý do bạn nên sở hữu một bộ khóa điện tử cho gia đình.
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/07.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Cách lựa chọn loại khóa điện tử phù hợp với ngôi nhà.
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/08.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Những vật dụng không nên để trong két sắt?
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/09.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Những bộ khóa cửa an toàn và hiện đại nhất.
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/10.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Tại sao khóa cửa Yale được ưa thích nhất trên thế giới.
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/01.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Thị trường khóa cửa điện tử Việt Nam
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/02.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Công nghệ vân tay Life Scan.
				.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/03.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Những cách để kiểm tra khóa điện tử Yale chính hãng.
.pages
	ul.pagination
		li.active
			a(href="#!") 1
		li
			a(href="#!") 2
		li
			a(href="#!") 3
		li
			a(href="#!") 4