section.breadcrumb-wrap
	.breadcrumb-img
		img(src="img/breadcrumb/05.jpg", alt="")
	.container
		.breadcrumb-content
			.pagename
			ol.breadcrumb
				li
					a(href="#!")
						span Trang chủ
				li
					a(href="#!")
						span Tuyển dụng
.container
	.row
		.col-12.col-lg-9
			section.career-page.clearfix
				h1.page-title Tuyển dụng Trưởng phòng kinh doanh
				.job-detail
					time 21/03/2017
					.content
						p
							strong MÔ TẢ CÔNG VIỆC
						ul
							li Thực hiện các thủ tục về sản phẩm, dịch vụ tín dụng khi khoản cấp tín dụng đã được duyệt.
							li Phối hợp với bộ phận/nhân viên nghiệp vụ liên quan hoặc hướng dẫn khách hàng tiếp xúc các chức danh khác để hoàn tất việc thực hiện theo phê duyệt của khoản cấp tín dụng.
							li Quản lý khoản cấp tín dụng của khách hàng.
							li Duy trì quan hệ, chăm sóc khách hàng hiện hữu.
						p
							strong YÊU CẦU HỌC VẤN
						ul
							li Tốt nghiệp Đại học các chuyên ngành Kinh tế, Tài chính, Ngân hàng, QTKD.
						p 
							strong YÊU CẦU KINH NGHIỆM
						ul
							li Ưu tiên ứng viên có 01 năm kinh nghiệm làm Hỗ trợ tín dụng tại các Ngân hàng.
						p
							strong YÊU CẦU KHÁC
						ul
							li Kỹ năng giao tiếp, thuyết phục khách hàng
							li Kỹ năng thuyết trình
							li Kỹ năng thẩm định khách hàng, phương án kinh doanh, dự án đầu tư....
							li Kỹ năng quản lý thời gian
							li Vi tính: văn phòng
							li Ngoại ngữ: Có khả năng đọc hiểu tiếng Anh tối thiểu để giao tiếp với máy tính và nghiên cứu tài
						p
							strong NƠI LÀM VIỆC
						ul
							li TP.HCM
						p 
							strong HẠN CHÓT NỘP HỒ SƠ
						ul
							li 30/11/2016 (ưu tiên ứng viên nộp hồ sơ sớm)
					.share
						img(src="img/share.jpg", alt="")
		.col-12.col-lg-3
			nav.sidebar-category.clearfix
				ul 
					li
						a(href="#") Chính sách tuyển dụng
					li.active
						a(href="#") Cơ hội nghề nghiệp